
@{
    Layout = null;
}
<hr class="text-light" />
<div class="container">
    <div class="row">
        <h2 align="center" style="color: white;">Bu Yıl Çıkan En Yeni En Popüler Ürünlerin Listesi</h2>
        <hr class="text-light">


        <div class="col-sm-3">
            <div align="center" style="background-color:powderblue">
                <br />
                <a href="~/Home/sp1" class="btn btn-danger btn-lg">Sayfa Sayısı 500'den Büyük Kalın Kitaplar Listesi</a>
                <br /><br />
            </div>
        </div>
        <div class="col-sm-3">
            <div align="center" style="background-color:powderblue">
                <br />
                <a href="~/Home/sp2" class="btn btn-warning btn-lg">Bu Yıl Çıkan En Yeni En Popüler Dizilerin Listesi</a>
                <br /><br />
            </div>
        </div>
        <div class="col-sm-3">
            <div align="center" style="background-color:powderblue">
                <br />
                <a href="sp1" class="btn btn-info btn-lg">Yapılan Yorumlar Ve Kullanıcı Ad Soyadları</a>
                <br /><br />
            </div>
        </div>

        <div class="col-sm-3">
            <div align="center" style="background-color:powderblue">
                <br />
                <a href="sp1" class="btn btn-success btn-lg">Tüm Kategorilere Ait Ürün Ad ve  Açıklaması</a>
                <br /><br />
            </div>
        </div>


    </div>
  </div>