
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br><br><br><br><br><br><br>
<div style="background-color: #e74c3c;padding: 30px;" class="container-fluid">
    <div class="container">

        <div class="row">


            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <form>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
                        <hr class="text-light">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <hr class="text-light">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label text-light">Password</label>
                        <hr class="text-light">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <hr class="text-light">

                    </div>

                    <div align="center">
                        <button style="width: 100%" type="submit" class="btn btn-dark btn-lg">Giriş Yap</button>
                    </div>
                </form>
            </div>

            <div class="col-md-4"></div>

        </div>


    </div>
</div>


<br><br><br><br><br><br><br><br>



